{% load static %}
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav
                class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-3">
                <div class="container-fluid px-0">
                    <a class="navbar-brand font-weight-bolder ms-sm-3" href="{% url 'index' %}" rel="tooltip"
                        title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                        Django Shop
                    </a>
                    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
                        <ul class="navbar-nav navbar-nav-hover me-auto">
                            <li class="nav-item  mx-2">
                                <a href="{% url 'listing' %}"
                                    class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                                    <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                                    Products
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav navbar-nav-hover ms-auto">

                            {% if user.is_authenticated %}

                            {% if user.is_staff %}
                            <li class="nav-item my-auto ms-3 ms-lg-0">
                                <a href="{% url 'admin:index' %}" class="btn btn-sm  mb-0 me-1 mt-2 mt-md-0">
                                    <i class="material-icons opacity-10 me-2 text-md">admin_panel_settings</i>
                                </a>
                            </li>
                            {% else %}
                            <li class="nav-item my-auto ms-3 ms-lg-0">
                                <a href="#" class="btn btn-sm bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0">
                                    <i class="fa fa-shopping-cart fa-2x"></i>
                                    <span class="badge badge-light ">3</span>
                                </a>
                            </li>
                            {% endif %}

                            <!-- logout -->
                            <li class="nav-item my-auto ms-3 ms-lg-0">
                                <a href="{% url 'logout' %}" class="btn btn-sm  mb-0 me-1 mt-2 mt-md-0">
                                    <i class="material-icons opacity-10 me-2 text-md">logout</i>
                                    Logout
                                </a>
                            </li>

                            {% else %}
                            <li class="nav-item mx-1">
                                <a href="{% url 'login' %}"
                                    class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                                    <i class="material-icons opacity-6 me-2 text-md">login</i>
                                    Login
                                </a>
                            </li>
                            <li class="nav-item mx-1 ">
                                <a href="{% url 'signup' %}"
                                    class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                                    <i class="material-icons opacity-6 me-2 text-md">person_add</i>
                                    Register
                                </a>
                            </li>
                            {% endif %}



                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>